ul li{
  list-style-type: georgian;
}

.app-wrapper{
  background-color: grey;
  margin:0 auto;
  display: grid;
  width:1000px;
  grid-template-areas: 
  "h h"
  "n c";

  grid-template-columns: 2fr 10fr;
  grid-template-rows: 120px 1fr;
  /* grid-gap:10px; */
}


.app-wrapper-content{
  grid-area: c;
   /* Цвет фона */
  
}